/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fundo geral */
body {
    background-color: #111;
    color: #d0a933;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do login */
.login {
    padding: 40px;
    background-color: #826c2f;
    border: 25px solid #545454;      /* borda externa */
    outline: 11px solid #d0a933;      /* segunda borda */
    box-shadow: 0 0 0 33px #363636;  /* efeito extra */
    border-radius: 0px;
    text-align: center;
}

/* Logo + nome */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.logo-container img {
    width: 52px;
    height: 52px;
    object-fit: contain;
    display: block;
}

.logo-container h1 {
    font-size: 28px;
    color: #d0a933;
    letter-spacing: 2px;
}

/* Inputs com ícones */
.login input[type="email"],
.login input[type="password"] {
    width: 250px;
    padding: 10px 10px 10px 40px; /* espaço pro ícone */
    margin: 10px 0;
    border: 2px solid #b4b4b4;
    border-radius: 5px;
    background-color: #2c2c2c;
    color:  #d0a933;
    outline: none;
    transition: border-color 0.3s;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
}

/* Ícones específicos */
.login input[type="email"] {
    background-image: url("../img/usuario.png");
}

.login input[type="password"] {
    background-image: url("../img/senha.png");
}

/* Placeholder */
.login input[type="email"]::placeholder,
.login input[type="password"]::placeholder {
    color: #826c2f;
}

/* Foco */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #d0a933;
}

/* Botões */
.login input[type="submit"] {
    width: 120px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #545454;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login input[type="submit"]:hover {
    background-color: #ffde59;
}
